/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('../WebsiteAR/images/wallpapers/gym-composition-with-sport-elements.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 70px; /* Adjust based on your logo size */
}

.shop-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px; /* Adjust based on your preference */
    margin-left: 10px;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Esthetic theme for buttons */
nav ul li a:hover {
    background-color: #333;
    color: white;
}

/* Account logo styling */
nav ul li a img {
    max-width: 30px; /* Adjust based on your icon size */
    vertical-align: middle;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 20px 0;
}

/* Main content styles */
.main {
    padding: 20px;
    text-align: center;
}

/* Product slider styles */
.product-slider {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.product-card {
    min-width: 200px;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-info {
    padding: 10px;
}

.product-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-info p {
    font-size: 16px;
    color: #777;
}

/* Slider button styles */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
